body{
    background-color: #eaeaea;
    background-image: url("/assets/bg2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

@font-face {
    font-family: 'Amsterdam';
    src: url('/assets/amsterdam-webfont.woff2') format('woff2'),
         url('/assets/amsterdam-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-container{
    width: 92%;
    margin: 4%;
    border: #ababab solid;
    background-color: #cfcfcf;
}

.sub-container{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    text-align: center;
    font-family: Amsterdam;
    font-size: 10rem;
    background: -webkit-linear-gradient(180deg, #000000 0%, #8e2e3b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo:hover{
    background: -webkit-linear-gradient(0deg, #000000 0%, #8e2e3b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar{
    font-size: 3vw;
    margin: 3%;
}

.cart{
    float: right;
}

.nav-element{
    padding: 5px;
    color: #ababab;
}

.current-nav-element{
    padding: 5px;
    color: #ababab;
    background-color: #8a8a8a;
}

.current-nav-element:hover{
    color: #8e2e3b;
}

.nav-element:hover{
    color: #8a8a8a;
}

.animate-visit{
    animation:anim 1.5s
}

@keyframes anim{
    from{opacity:0}
    to{opacity:1}
}

.title{
    display: flex;
    justify-content: center;
}

.title h1{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end);
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.important-text{
    text-align: center;
    font-size: large;
}

.catalog-menu{
    display: none;
    flex-shrink: 0;
    width: 100%;
    border-right: #ababab solid 2px;
    background-color: #cfcfcf;
}

.catalog-category{
    margin-top: 5%;
    margin-left: 5%;
    border-bottom: #ababab solid 1px;
}

.catalog-category:hover{
    color: #8e2e3b;
    background-color: #bbbbbb;
}

.item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    text-align: center;
    width: 30%;
    margin: 1%;
    border: #ababab solid;
}

.item img {
    max-width: 100%;
}

.nav-button{
    width: 100%;
    height: 3vh;
    text-align: center;
    font-size: x-large;
    background-color: #ababab;
    font-weight: bolder;
    border: none;
    color: #8e2e3b;
}

.nav-button:hover{
    background-color: #969696;
}

.sub-container-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog-menu input[type=text]{
    width: 85%;
    margin-left: 5%;
    background-color: transparent;
    border: none;
    border-bottom: #8e2e3b solid 1px;
}

.search-button{
    background-color: transparent;
    border: none;
    border-bottom: #8e2e3b solid 1px;
}

.search-button:hover{
    background-color: #bbbbbb;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-self: center;
    height: 20vh;
    margin-top: 3vh;
    background-color: #bbbbbb;
    border: #ababab solid;
    padding: 5px;
}

.cart-item img{
    margin-left: 3%;
    margin-right: 3%;
}

.cart-item p{
    align-self: center;
}

.qty-delete-container{
    align-self: center;
    margin-right: 3%;
    margin-left: 3%;
}

.checkout-zone{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: x-large;
    border-top:#ababab solid 2px;;
    align-self: center;
}

.checkout-zone button{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: x-large;
    background-color: #bbbbbb;
    border: #ababab solid;
    padding: 5px;
}

.checkout-zone button:hover{
    background-color: #969696;
    color: #8e2e3b;
}

.buy-now{
    margin: 5%;
    font-family: amsterdam;
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    background: -webkit-linear-gradient(180deg, #000000 0%, #8e2e3b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buy-now:hover{
    background: -webkit-linear-gradient(0deg, #000000 0%, #8e2e3b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-layout{
    display: flex;
    padding: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.about-layout p{
    margin: 5%;
}

#map{
    text-align: center;
    border: #8e2e3b solid 1px;
    background-color: #969696;
    width: 70%;
    height: 200px;
}

@media only screen and (min-width: 1024px){
    .navbar{
        font-size: medium;
    }

    .nav-button{
        display: none;
    }

    .sub-container{
        flex-wrap: nowrap;
    }

    .catalog-menu{
        display: block;
        margin: 2%;
        width: 25%;
    }

    .item-container{
        justify-content: left;
    }

    .item{
        padding: 3%;
        width: 10%;
    }

    .item img {
        max-height: 100%;
    }

    .catalog-menu input[type=text]{
        width: 80%;
    }

    .cart-item{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .checkout-zone{
        margin-right: 5%;
        align-self:flex-end;
        font-size: medium;
    }
    .checkout-zone button{
        font-size: medium;
        height: auto;
    }
    #map{
        width: 40%;
    }
}